body{
	font-family: tahoma;
	font-size: 2em;
	background: #ddd
}
#container{	
	padding: 1em;
	margin: 1em auto;
	max-width: 20em;
	border: 1px solid black;
}
#login, #register {
	border: 1px solid none;
	margin-bottom: 1em;
}
input{
	height: 30px;
	width: 200px;
	vertical-align: top;
	float: right;
}
p{
	font-size: 18px;
	color: navy;
	line-height: 200%;
}
	p.flash{
		color: red;
	}
ol, li{
	width: auto;
	font-size: 16px;
	margin-bottom: 2px;
}
button, a, span{
	float: right;
}