
<div class="panel panel-default" ng-if="!error">
  <div class="panel-body">Add a new order</div>
</div>
<div class="alert alert-danger" role="alert" ng-if="error">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Name already exists!
</div>
<h4>&nbsp;</h4>


<form class="form-inline" >
  <div class="form-group">
      <label for="customerName">Customer: </label>
      <select ng-options="customer as customer.name for customer in customers" ng-model="newOrder.name" class="selectpicker input-sm" id="customerName">
      <option value="" disabled selected>Name</option>
      </select>

      <label for="orderQuantity">Order: </label>
      <select class="selectpicker input-sm" ng-model="newOrder.quantity" id="orderQuantity">
        <option value="" disabled selected>Quantity</option>
        <option ng-repeat="n in repeater(newOrder.product.quantity)" value={{$index+1}} >{{$index+1}}</option>
      </select>

      <select ng-options="product as product.name for product in products" ng-model="newOrder.product" class="selectpicker input-sm" id="productName">
        <option value="" disabled selected>Product</option>
      </select>   
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      <button type="submit" class="btn btn-primary" ng-click = "create(newOrder)">Order</button>
  </div>
</form>

<h4>&nbsp;</h4>  

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="filter.name" autofocus>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<table class="table">

  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Customer Name</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders | filter:filter">
      <th scope="row">{{$index+1}}</th>
      <td>{{order.name}}</td>
      <td>{{order.product}}</td>
      <td>{{order.quantity}}</td>
      <td>{{order.createdAt | date :  "MMMM d yyyy"}}</td>

    </tr>
  </tbody>
</table>

