<!DOCTYPE html>
<html>
<head>
    <title>New</title>
</head>
<body>
    <h1>Dog Dashboard - New</h1>
    <form action="/dogs" method="POST">
        Name:<br>
        <input type="text" name="name"><br>
        Breed:<br>
        <input type="text" name="breed"><br>
        Color:<br>
        <input type="text" name="color"><br>
        <button>Submit</button>
    </form>

    <h4><a href="/">Back</a></h4>

</body>
</html>