<h1>All comments</h1>

<table>
    <thead>
        <tr>
            <td>Comments</td>
            <td>Products</td>
        </tr>
    </thead>
    <tbody>
        <% @comments.each do |comment| %>
        <tr>
            <td><%= comment.comment %></td>
            <td><%= comment.product.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<p><a href="../products">Back</a></p>