<h1>All Secrets</h1>
<% if @secrets %>
    <% @secrets.each do |secret| %>
        <p>
            <!-- secrets_destroy_path   GET /secrets/destroy(.:format)  secrets#destroy -->
            <form action="/secrets/destroy" method="POST">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="secret[id]" value="<%= secret.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <%= secret.content %>
              <input type="submit" value="Delete">
            </form>
        </p>
    <% end %>
<% end %>