* {
    margin: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
thead {
    color: red;
    text-align: center;
    background: black;
    font-weight: heavy;
}
tbody {
    background: #eee;
}
td {
    border:1px solid black;
};
table {
    border: 1px solid black;
}