<div ng-app="nbaApp">
    <h1><%= image_tag('nba.gif', :width => 120) %>Information</h1>
    <a href="#/partial1">Players</a> | <a href="#/partial2">Teams</a> | <a href="#/partial3">Associations</a>
    <div ng-view=""></div>
</div>