<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Index</h1>
    <h3><a href="/views/dojo.html">Dojo</a></h3>
    <h3><a href="/private/private.html">Private</a></h3>
    <h3><a href="/pRiVaTe">Private folder</a></h3>
    <h3><a href="/folder">Not existing folder</a></h3>
    <h3><a href="/views/file.html">Not existing file</a></h3>
    <h3><a href="/images/car.jpg">car.jpg</a></h3>
</body>
</html>