<!DOCTYPE html>
<html>
<head>
    <title>Survey Form</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){
            // this triggers the connection event in our server!
            var socket = io.connect();
            // we'll write all the socket stuff after the above line!
            $('#form').submit(function(){
                socket.emit("posting_form", {input: $('form').serialize()});
                return false;
              });
            socket.on('server_response', function (data){
                console.log('The server says: ' + data.response);
                $('#result').html('<h3>You emitted the following information to the server. ' + JSON.stringify(data.response) + '</h3><h4>Your lucky number emitted by the server is ' + data.luckyNumber + '</h4>');
            });
        })
    </script>
</head>
<body>
    <h1>Survey Form Revisited</h1>
    <div id="result"></div>
    <div>
        <form id="form">
          <fieldset>
            <legend>Personal information:</legend>
            Your Name: (Mandatory)
            <input type="text" name="name" placeholder="Enter your name"><br>
            Dojo Location:
            <select name="location">
              <option value="Seattle">Seattle</option>
              <option value="San Francisco">San Francisco</option>
              <option value="Dallas">Dallas</option>
              <option value="New York">New York</option>
            </select>
            <br>

            Favorite Language:
            <select name="language">
              <option value="Javascript">Javascript</option>
              <option value="Python">Python</option>
              <option value="Ruby">Ruby</option>
              <option value="Swift">Swift</option>
            </select>
            <br>
            
            Comment: (Optional)
            <textarea name="comment" placeholder="Enter text here..."></textarea>
            <input type="submit" value="Submit" id ="submit">
          </fieldset>
        </form>
    </div>
</body>
</html>