<!DOCTYPE html>
<html>
<head>
    <title>Date and Time</title>
    <style type="text/css">
        .boxes {
            margin: auto;
            text-align: center;
            width: 20%;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div id="container">
        <div id="title" class="boxes">
            <h4>The current time and date:</h4>
        </div>
        <div id="main_display" class="boxes">
            <h1><%=@date%></h1>
            <h1><%=@time%></h1>
        </div>
    </div>
</body>
</html>