<!DOCTYPE html>
<html>
<head>
    <title>Survey Result</title>
</head>
<body>
    <h1>Result</h1>
    <div>
        
  <fieldset>
    <legend>Submitted information:</legend>
        <h3>Name: <%= results.name %></h3> 
        <h3>Dojo Location: <%= results.location %></h3>
        <h3>Favorite Language: <%= results.language %></h3>
        <h3> Comment: <%= results.comment %></h3>
  </fieldset>

    </div>
</body>
</html>