<div ng-controller="PlayersController">
        <form ng-submit = "create()">
          <fieldset>
            <legend>Players</legend>
            <h4>
                Name: <input type="text" ng-model='newPlayer.name'>
                <input type='submit' value='Add Player'>
            </h4>

            <table>          
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="player in players track by $index">
                        <td>{{ player.name }}</td>
                        <td><button ng-click = 'delete($index)'>Remove Player</button></td>
                    </tr>
                </tbody>
            </table>
          </fieldset>
        </form>

    </div>