<h1>New product</h1>
<form action="/products/create" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

    <label for="Category">Category</label>
    <select name="product[category]" id="Category">
    <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
    </select>

    <p>Name</p>
    <input id="product_name" name="product[name]" size="30" type="text" />
    <p>Description</p>
    <input id="product_description" name="product[description]" size="30" type="text" />
    <p>Price</p>
    <input id="product_price" name="product[pricing]" size="30" type="text" />
    <p>
    <input name="commit" type="submit" value="Create" /></p>
</form>
<a href="../products">Back</a>