<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/starter-template.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    
    <title>Welcome | Books</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>

    {% if session['name'] %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Welcome, {{ session['name']}}!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="../books">Home</a></li>
            <li><a href="../process/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endif %}

    <div class="container">
      <div id=".col-md-4">
        {% for book in books %}
          {{book.title}} - Rating: {{book.rating}}<br>
        {% endfor %}
      </div>
      <h2>Add a New Book Title and a Review:</h2>
      <form action="../process/add" method="post">
        <table>
          <tr>
            <td>Book Title:</td>
            <td><input type="text" name="title"></td>
          </tr>
          <tr>
          <td>Author:</td>
            <td>
            <select name="author">
              <option disabled selected value>Choose from the list</option>
              {% for author in items %}
              <option value="{{ author.author }}">{{ author.author }}</option>
              {% endfor %}
            </select>
            <br><input type="text" name="author" placeholder="or add a new author.">
            </td>
          </tr>
          <tr>
            <td>Review:</td>
            <td><textarea name="review"></textarea></td>
          </tr>
          <tr>
            <td>Rating:</td>
            <td>
            <select name="rating">
              <option value="5">5</option>
              <option value="4">4</option>
              <option value="3">3</option>
              <option value="2">2</option>
              <option value="1">1</option>
            </select>
            stars.
            </td>
          </tr>
          <tr>
            <td><input type="hidden" name="id" value="{{ session.id }}"></td>
            <td><input type="submit" value="Add Book and Review"></td>
          </tr>
        </table>
      </form>


      <hr>

      <footer>
      <p>&copy; 2016 Yung Kim.</p>
      </footer>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
