<fieldset>
    <legend>Friends</legend>
    <table>          
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>Show</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="friend in friends.data | filter:filter track by $index">
                <td>{{$index+1}}. {{ friend.firstName }} {{ friend.lastName }} </td>
                <td>{{ friend.birthday | date :  "yyyy-MM-dd" }}</td>
                <td><button ng-click = 'show(friend)'>Show</button></td>
                <td><button ng-click = 'update(friend)'>Edit</button></td>
                <td><button ng-click = 'delete(friend)'>Delete</button></td>                
            </tr>
        </tbody>
    </table>
    <h4>
        Search by: 
        <input type="text" name="" placeholder="First Name" ng-model="filter.firstName" autofocus>
        <input type="text" name="" placeholder="Last Name" ng-model="filter.lastName">
        <input type="text" name="" placeholder="Birthday" ng-model="filter.birthday">
    </h4>
</fieldset>
<h3><button onclick="window.location.href='#/new'">New Friend</button></h3>