<!-- You will attach an ng-model and an ng-submit to your forms (but might want to wait until the next tab, when you have your controllers and factory) -->
<fieldset>
    <legend>Add a New Friend</legend>
    <form>
      <p>First Name: <input type="text" ng-model = user.firstName autofocus></p>
      <p>Last Name: <input type="text" ng-model = user.lastName></p>
      <p>Birthday: <input type="date"  ng-model = user.birthday></p>
      <input type="submit" value = 'Create' ng-click = "addUser()">
    </form>
    
</fieldset>
<h3><button onclick="window.location.href='#/'"> Return to Index </button></h3>