// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input {
    display:block;
    margin: 1em;
}
img {
    width:300px;
}