body{
	font-family: tahoma;
	font-size: 2em;
	background: #ddd
}
#container{	
	padding: 1em;
	margin: 1em auto;
	max-width: 20em;
	border: 1px solid black;
}
input, select{
	height: 2em;
}
td{
	padding-right: 2em;
	word-wrap: break-word;
}