<!DOCTYPE html>
<html>
<head>
	<title>GNG - Great Number Game</title>
	<!-- linking a css style sheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
	<!-- linking a javascript file -->
	<script type="text/javascript" src='{{ url_for('static', filename='js/my_script.js') }}'></script>
	
</head>
<body>

	<div id="container">
		<h2>Welcome to the Great Number Game!</h2>
		<form action='/play' method='post'>

		<h6>I am thinking of a number between 1 and 100<br>Take a guess!<br></h6>
		<input type='text' name='guess'><br>
		<input type='submit' value='Submit'>
		</form>
		<h2>Random: {{ random }}</h2>
		<h2>Guess: {{ guess }}</h2>
		<a href="{{ url_for('clearsession') }}">clear</a></strong><br> 
		<h2>{{ result }}</h2>
	</div>
</body>
</html>